body{
    height: 100vh;
    background-color: #151b29;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
   
   padding: 0;
    font-size: 1em;
    transition: all 0.3s;
    width: 100px;
    height: 100px;
    
    
}

button:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    
    cursor:pointer;
}

.igra {
    width: 350px;
    height: 350px;
}